---
title: Tales of Marginal Interest
layout: home
---

%h1
  Tales of Marginal Interest

%ul
  == {% for post in site.posts %}
  %li
    <a href="{{ post.url }}">{{ post.title }}</a>
  == {% endfor %}
