<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/ay_favicon.png" type="image/png" sizes="268x268">
    <title>
      {{ page.title }}
    </title>
  </head>
  <body>
    {{ content }}
  </body>
